* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    
    width: 100%;
    font-family: "Lato", sans-serif;
}

main {
    margin-top: 50px;
}

header {
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.conteiner-menu-principal {
    height: 100%;
    display: flex;
    list-style: none;
}

.conteiner-menu-principal li a {
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 15px;
    padding: 15px 25px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: normal;
}

.conteiner-menu-principal li a:hover {
    background-color: #e7e7e7;
    color: black;
}

header #icon {
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 15px;
    padding: 15px 25px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: normal;
}

header #icon:hover {
    background-color: #e7e7e7;
    color: black;
}

#home,
#btn-menu {
    display: none;
    align-items: center;
    height: 50px;
    font-size: 15px;
    padding: 15px 25px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: normal;
}

#btn-menu {
    display: none;
    border: none;
    box-shadow: none;
    background-color: black;
    font-size: 20px;
}

#home:hover {
    background-color: #e7e7e7;
    color: black;
}

#btn-menu:hover {
    background-color: #e7e7e7;
    color: black;
}

.conteiner-second-menu {
    width: 140px;
    height: 150px;
    display: none;
    background-color: white;
    list-style: none;
    position: absolute;
    z-index: 10;
}

.conteiner-second-menu li a {
    text-decoration: none;
    font-size: 15px;
    padding: 15px;
    color: black;
    text-align: center;
}

.conteiner-second-menu li a:hover {
    background-color: #e7e7e7;
}

.conteiner-imagens {
    width: 100%;
    position: relative;
    height: 120vh;
}

.imagens {
    width: 100%;
    position: absolute;
    font-size: 28px;
}

.imagens img {
    width: 100%;
}

.imagens .p1 {
    width: 100%;
    position: absolute;
    top: 80%;
    text-align: center;
    font-size: 1em;
    color: white;
    z-index: 5;
}

.imagens .p2 {
    width: 100%;
    position: absolute;
    top: 87%;
    text-align: center;
    font-size: 0.6em;
    color: white;
    margin-bottom: 10px;
}

.imagens {
    display: none;
}

.select {
    display: block;
}

.conteiner-theband {
    width: 60%;
    margin: auto;
    text-align: center;
}

.conteiner-theband h1 {
    font-family: 'Tahoma', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: normal;
    letter-spacing: 5px;
}

.conteiner-theband p {
    display: block;
    font-size: 15px;
    margin-bottom: 25px;
    line-height: 1.5;
}

.conteiner-theband .pra {
    font-size: 16px;
    text-align: justify;
    margin-bottom: 60px;
}

.conteiner-theband i {
    opacity: 0.6;
    margin-bottom: 25px;
}

.theband-flex {
    width: 100%;
    display: flex;
    justify-content: space-around;
   
    padding-top: 10px;
    margin-bottom: 100px;
}

.theband-flex img {
    width: 60%;
}

.theband-flex p {
    display: block;
    text-align: center;
    margin-bottom: 15px;
}

.tourdates {
    width: 100%;
    background-color: black;
    color: white;
    height: 600px;
    padding-top: 100px;
}

.tourdates .conteinertd {
    width: 60%;
    height: 500px;
   
    margin: auto;
    text-align: center;
}

.conteinertd h2 {
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 30px;
    letter-spacing: 5px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.conteinertd p {
    font-size: 15px;
    opacity: 0.6;
    margin-bottom: 25px;
}

.flex-meses {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.flex-meses li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    width: 100%;
    border-bottom: 1px solid #ccc;
    height: 30px;
    padding: 20px;
    color: black;
    opacity: 0.7;
}

.flex-meses li span {
    background-color: red;
    margin-left: 20px;
    padding: 3px;
    font-size: 15px;
    color: white;
    opacity: 1.5;
}

@media (max-width: 600px) {
    .conteiner-menu-principal li+li {
        display: none;
    }
    .conteiner-menu-principal {
        display: block;
    }
    header {
        height: auto;
        align-items: flex-start;
    }
    #btn-menu {
        display: flex;
    }
    #icon {
        visibility: hidden;
    }
    .imagens .p1 {
        display: none;
    }
    .imagens .p2 {
        display: none;
    }
    .conteiner-imagens {
        height: 300px;
    }
    .conteiner-theband {
        width: 90%;
    }
    .theband-flex {
        flex-direction: column;
        margin-bottom: 60px;
    }
    .theband-flex div {
        margin-bottom: 40px;
    }
    .tourdates {
        margin-top: 0;
    }
    .tourdates .conteinertd {
        width: 90%;
        height: auto;
    }
}